/* 
* Booking Lists
*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

img {
  width: auto;
  height: 150px;
}
  
.wpbac-booking-list td, .wpbac-booking-list th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
.wpbac-booking-list tr:nth-child(even) {
    background-color: #dddddd;
}

.wpbac-updated-characteristics-image {
  width: auto;
  height: 100px;
}
